.header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; /* Aligns children vertically in the center */
  background-color: var(--primary-blue-faded);
  height: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.header-item {
  color: white;
  font-weight: var(--font-weight-large);
  font-size: var(--text-large);
}

.header-item a{
  text-decoration: none;
}

.header-item a{
  color: white;
}

.header-item a:visited{
  color: white;
}

.header-item >ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
  gap: 2em;
  padding: 0; 
}

.nav-items > li {
  position: relative; /* Ensure the pseudo-element is positioned relative to the list item */
}

.nav-items > li:after {
  display: block;
  content: '';
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  position: absolute; /* Position the pseudo-element absolutely within the list item */
  left: 0;
  right: 0;
  bottom: 0; /* Position it at the bottom of the list item */
}

.nav-items > li:hover:after {
  transform: scaleX(1); /* Scale the element to full width on hover */
}

.header-logo {
  background-image: url(./atlantistowingmalogo.png);
  width: 200px;
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  position: absolute;
  left: 0;
  top: 100%; /* Position it right below the Services item */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-container > li:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 10px; 
  transition: all 0.5s;
}

.dropdown-container > li.active:after {
  content: "\2212";
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}

/*Mobile items*/
.hamburger {
  display: none;
  position: absolute;
  top: 50px;
  right: 25px;
}

.hamburger:hover{
  cursor: pointer;
}

.hamburger span{
  display: block;
  width: 25px;
  height: 3px; 
  margin: 5px auto; 
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.mobile-menu{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  padding: 0;
}

.mobile-menu-items{
  padding: 0;
}

.mobile-menu-items li{
  padding: 12px 16px;
  color: black; 
  list-style: none;
}

.mobile-menu-items li a{
  text-decoration: none;
  color: black;
}

.mobile-menu-items li:hover{
  background-color: #f1f1f1;
  width: 100%;
  cursor: pointer;
}

/*Media Queries*/

@media screen and (max-width: 1023px) {
  .header-container {
    flex-direction: column;
    height: 100%;
  }
  .hamburger {
    display: block; /* Show hamburger icon on smaller screens */
  }

  .mobile-menu {
    display: block; /* Show mobile menu when activated */
  }

  /* Hide your regular menu items here */
  .header-item > ul,
  .header-item > a {
    display: none;
  }
}





