.footer-container{
    display: grid; 
    gap: .5rem;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-areas: ". tagline services contact . ";
    text-align: center;
    padding: 10px; 
}

.footer-container ul{
    list-style: none; 
}

.footer-container a{
    color: white; 
    text-decoration: none; 
}

.footer-container a:hover{
    color: rgb(132, 136, 132); 
}

.footer-tagline{
    grid-area: tagline; 
    
}

.footer-services{ 
    grid-area: services;
    
}

.footer-contact{
    grid-area: contact; 
}